<blockquote>
<p>To configure the plug-in, fill the form.

<p><table width=100% bgcolor=#cccccc cellpadding=0 cellspacing=0 border=0>
<tr><td><table width=100% cellpadding=3 cellspacing=1 border=0>
<tr>
<td>Field Name<br></td><td>Description</td></tr>

<tr>
<td bgcolor=white>Merchant Name</td>
<td bgcolor=white>Enter an arbitrary name (company name, person, any other).
</td></tr>

<tr>
<td bgcolor=white>Bank Code</td>
<td bgcolor=white>Enter an arbitrary code.
</td></tr>

<tr>
<td bgcolor=white>Account Number</td>
<td bgcolor=white>Enter an arbitrary number.
</td></tr>


</table>
</td></tr></table>
</td>
</tr></table>

<p><strong>Miscellaneous settings</strong>. Here you can enter plug-in description.
</p>
<p><table width=100% bgcolor=#cccccc cellpadding=0 cellspacing=0 border=0>
<tr><td><table width=100% cellpadding=3 cellspacing=1 border=0>
<tr>
<td>Field Name<br></td><td>Description</td></tr>
<tr>
<td bgcolor=white>Quick description of this payment method</td>
<td bgcolor=white>Enter the plug-in short description to be shown to your customers.
</td></tr>

</table>
</td></tr></table>
</td>
</tr></table>
</blockquote>
