<blockquote>
<p><strong>The current plug-in configuration:</strong>
<p>To delete this configuration, click the Delete button. Please note that this action does not delete the plug-in template.

<p><strong>General settings</strong>
<p><table width=100% bgcolor=#cccccc cellpadding=0 cellspacing=0 border=0>
<tr><td><table width=100% cellpadding=3 cellspacing=1 border=0>
<tr>
<td>Field Name<br></td><td>Description</td></tr>

<tr>
<td bgcolor=white>Plug-in name</td>
<td bgcolor=white>The plug-in configuration name.
</td></tr>
<tr>
<td bgcolor=white>Plug-in template</td>
<td bgcolor=white>The name of template a plug-in configuration is based on.
</td></tr>
<tr>
<td bgcolor=white>Active</td>
<td bgcolor=white>If the plug-in is used for payments (active - green tick) or not (disabled - red cross). To activate the plug-in click the <strong>Mark as active</strong> button.
</td></tr>

</table>
</td></tr></table>
</td>
</tr></table>

<p><table width=100% bgcolor=#cccccc cellpadding=0 cellspacing=0 border=0>
<tr><td><table width=100% cellpadding=3 cellspacing=1 border=0>
<tr>
<td>Field Name<br></td><td>Description</td></tr>

<tr>
<td bgcolor=white>Merchant Name</td>
<td bgcolor=white>Mercant name entered for the plug-in configuration.
</td></tr>

<tr>
<td bgcolor=white>Bank Code</td>
<td bgcolor=white>Bank code entered for the plug-in configuration.
</td></tr>

<tr>
<td bgcolor=white>Account Number</td>
<td bgcolor=white>Your bank account number entered for the plug-in configuration.
</td></tr>


</table>
</td></tr></table>
</td>
</tr></table>

<p><strong>Miscellaneous settings</strong>. Here you can enter plug-in description.
</p>
<p><table width=100% bgcolor=#cccccc cellpadding=0 cellspacing=0 border=0>
<tr><td><table width=100% cellpadding=3 cellspacing=1 border=0>
<tr>
<td>Field Name<br></td><td>Description</td></tr>
<tr>
<td bgcolor=white>Quick description of this payment method</td>
<td bgcolor=white>The plug-in short description to be shown to your customers.
</td></tr>

</table>
</td></tr></table>
</td>
</tr></table>
</blockquote>