<table cellpadding="4" cellspacing="1" class="DarkLines" border="0" width="550">
<tr> 
  <td class="FieldTitleBg" valign="top" width="165">
      <span class="FieldTitle">{"<txt_ppp_bt_merch_name>"}</span>
      <br><img src="/images/1.gif" width="160" height="1">
  </td>
  <td class="FieldBodyBg" valign="top" width="345">{$merchant}</td>
</tr>
<tr> 
  <td class="FieldTitleBg" valign="top" width="165">
      <span class="FieldTitle">{"<txt_ppp_bt_bank_code>"}</span>
      <br><img src="/images/1.gif" width="160" height="1">
  </td>
  <td class="FieldBodyBg" valign="top" width="345">{$bank_code}</td>
</tr>
<tr> 
  <td class="FieldTitleBg" valign="top" width="165">
      <span class="FieldTitle">{"<txt_ba_bank_account_number>"}</span>
      <br><img src="/images/1.gif" width="160" height="1">
  </td>
  <td class="FieldBodyBg" valign="top" width="345">{$account_number}</td>
</tr>
</table>
